<h1>学習ノート一覧</h1>

<div>
  <div>
    <h2>プレイヤーエリア</h2>

    <div>
      <p>選択中のノートタイトル</p>
      <h3>ノートを選択してください</h3>
    </div>

    <div class="player-buttons">
      <button type="button" class="player-button play-button">
        再生
      </button>

      <button type="button" class="player-button stop-button">
        停止
      </button>

      <button type="button" class="player-button repeat-button">
        リピート
      </button>
    </div>
    <div class="note-action-buttons">
      <%= link_to "ノート作成", new_note_path, class: "note-action-button create-note-button" %>

      <button type="button" class="note-action-button edit-note-button">
        ノート編集
      </button>
    </div>
  </div>

  <div>
    <h2>タイトル一覧</h2>

    <%= link_to "ノートを投稿する", new_note_path %>

    <% @notes.each do |note| %>
  <div>
    <%= note.title %>

    <button
  type="button"
  class="note-speak-button"
  data-text="<%= note.content %>">
  読み上げ
</button>

    <%= link_to "編集", edit_note_path(note) %>
    <%= button_to "削除", note_path(note), method: :delete %>
  </div>
  <% end %>
  </div>
</div>